    body, html {
        height: 100%;
        margin: 0;
        overflow: hidden;
        position: relative;
    }
	
    .animated-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #451A8B, #23A6D5, #23D5AB);
      background-size: 400% 400%;
      animation: gradientAnimation 10s ease infinite;
	  z-index: -100;
    }

    @keyframes gradientAnimation {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

	body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-size: 500% 200%;
    animation: gradientAnimation 10s linear infinite;
    }
	
	
/***********************************/
	@keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
	
	.topic {
	  display: flex;
      align-items: flex-start;
      justify-content:center;
      margin: 0 auto;
      padding: 20px;
	  animation: fadeIn 0.5s ease-in-out;
	      
	  font-weight: bold;
	  font-size: 45px;
      font-family: ºÚÌå;
      color: #FFFFFF;
      text-shadow: 2px 2px 10px gray;
    }
	
	.menu {
      display: flex;
      align-items: flex-start;
      max-width: 750px;
      margin: 0 auto;
      padding: 20px;
      background-color: #1E90FF;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	  animation: fadeIn 0.5s ease-in-out;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
    }
    .hrefs{
      background-color: #1E90FF;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
	  animation: fadeIn 2.5s ease-in-out;
	  text-decoration: none;
      font-weight: bold;
	  font family: ËÎÌå;
    }
    .hrefs:hover {
      background-color: #0056B3;
    }
	
	
/***********************************/
    .container {
      display: flex;
      align-items: flex-start;
      max-width: 750px;
      margin: 0 auto;
      padding: 20px;
      background-color: #FFFFFF;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	  animation: fadeIn 0.5s ease-in-out;
	  border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
    }
    .text {
      flex: 1.1;
      padding-right: 20px;
	  padding-left: 20px;
    }
 
    .vice_title {
      font-weight: bold;
      font-size: 35px;
      font-family: ¿¬Ìå;
	  animation: fadeIn 1.5s ease-in-out;
    }
